<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>Serial Number Report</title>
    <meta charset = "UTF-8" />
    <style type = "text/css">
      table, td, th {
        border: 1px solid black;
      }
      span {  content: "\2713";}
      #returnB {text-align: right;}
    </style>
  </head>

<body>
  {% for serial_num in serial_lst %}
    <pre><p>{{ serial_num }}</p></pre>
  {% endfor %}
</body>
