---
 - name: LLDP Neighbor Discover - Issue SHOW command to gather the details of the endpoint of the optic under test.
   hosts: {{ sw_vendor }}_{{ sw_func }}
   connection: ansible.netcommon.network_cli
   gather_facts: no

   vars:
     os: ios
     ansible_python_interpreter: /usr/bin/python3
     ansible_become: yes
     ansible_become_method: enable
     ansible_network_os: cisco.ios.ios
     ansible_user: {{ username }}
     ansible_password: {{ passwd }}
     ansible_connection: ansible.netcommon.network_cli

   tasks:
    - name: Run cli_command on Cisco IOS and display results
      block:
      - name: Run cli_command on Cisco IOS
        ansible.netcommon.cli_command:
          command: show lldp neighbors {{ port_id }} detail
        register: lldp_neighbor
        run_once: true

    - name: Using Jinja shorthand syntax, extract lldp neighbor data.
      debug:
              var: lldp_neighbor.stdout_lines

    - name: Write Data to a file
      template:
        src: ./lldp_neighbor.j2
        dest: /netauto/lldp_neighbor.json
