---
 - name: Endpoint1 TX & RX Pull - Issue SHOW command to gather TX and RX optical power values from endpoint switch
   hosts: {{ sw_vendor }}_{{ sw_func }}
   connection: ansible.netcommon.network_cli
   gather_facts: no

   vars:
     os: eos
     ansible_python_interpreter: /usr/bin/python3
     ansible_become: yes
     ansible_become_method: enable
     ansible_network_os: arista.eos.eos
     ansible_user: {{ username }}
     ansible_password: {{ passwd }}
     ansible_connection: ansible.netcommon.network_cli

   tasks:
    - name: Run cli_command on Arista EOS and display results
      block:
      - name: Run cli_command on Arista EOS
        ansible.netcommon.cli_command:
          command: show interface {{endp_int2}} transceiver
        register: endpoint2
        run_once: true

    - name: Debug show cmd response with Jinja shorthand syntax
      debug:
              var: endpoint2.stdout_lines

    - name: Write Data to a file
      template:
        src: ./endpoint2.j2
        dest: ./endpoint2.json
