---
 - name: PLAY1 - ISSUE SHOW COMMAND TO PULL LIST OF CONNECTED INTERFACES.
   hosts: {{ sw_vendor }}_{{ sw_func }}
   connection: ansible.netcommon.network_cli
   gather_facts: no

   vars:
     os: eos
     ansible_python_interpreter: /usr/bin/python3
     ansible_become: yes
     ansible_become_method: enable
     ansible_network_os: arista.eos.eos
     ansible_user: {{ username }}
     ansible_password: {{ passwd }}
     ansible_connection: ansible.netcommon.network_cli

   tasks:
   - name: Run cli_command on Arista EOS and display results
     block:
     - name: Run cli_command on Arista EOS
       ansible.netcommon.cli_command:
         command: show interfaces status | ex Not
       register: int_pull
       run_once: true

   - name: Debug show cmd response with Jinja shorthand syntax
     debug:
             # var: idprom_val.stdout[:]
             # var: idprom_val.stdout[0][:]
             var: int_pull.stdout_lines

   - name: Write Data to a file
     template:
       src: ./int_pull.j2
       dest: /netauto/int_pull.json
