---
 - name: PLAY1 - ISSUE SHOW COMMAND FOR DOM
   hosts: {{ sw_vendor }}_{{ sw_func }}
   connection: local
   gather_facts: no

   vars:
     os: eos
     ansible_python_interpreter: /usr/bin/python3
     ansible_become: yes
     ansible_become_method: enable
     ansible_network_os: arista.eos.eos
     ansible_user: {{ username }}
     ansible_password: {{ passwd }}
     ansible_connection: ansible.netcommon.network_cli

   tasks:
    - name: TASK1 - ISSUE SHOW CMDS
      block:
      {% for int_id in interface_lst %}
      - name: Run cli_command on Arista EOS
        ansible.netcommon.cli_command:
          command: show interfaces {{ int_id }} transceiver detail
        register: op_power_chk_{{ int_id }}
        run_once: true
      {% endfor %}
    {% for int_id in interface_lst %}
    - name: Using Jinja shorthand syntax, extract DOM data.
      debug:
            var: op_power_chk_{{ int_id }}.stdout_lines
    {% endfor %}

    - name: Write Data to a file
      template:
        src: ./op_power_chk.j2
        dest: /netauto/op_power_chk.json
